@font-face {
    font-family: 'sf_archery';
    src: url('font/SF_Archery_Black-webfont.eot');
    src: url('font/SF_Archery_Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/SF_Archery_Black-webfont.woff') format('woff'),
         url('font/SF_Archery_Black-webfont.ttf') format('truetype'),
         url('font/SF_Archery_Black-webfont.svg#sf_archery_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
    overflow: hidden;
    
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: 0; left: 0;
    
    background-color: black;
    color: white;
    
    font-family: sf_archery;
}

canvas {
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: 0; left: 0;
}

/* ####### */
/* OVERLAY */
/* ####### */
#overlay {
    z-index: 98;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
}

#overlay img#logo {
    z-index: 99;
    position: relative;
    top: 50%;
    left: 50%; transform: translate(-50%, -50%);
    
    width: auto; height: auto;
    
    max-width: 100%; max-height: 100%;
    transition: all 2s;
    
    background-color: black;
}

#overlay img#logo.loaded {
    top: 0;
    left: 50%; transform: translate(-50%, 0);
    
    max-height: 40%;
}

#overlay #loginForm {
    position: absolute;
    left: 25%; width: 50%;
    text-align: center;
    
    font-family: inherit;
    
    top: 40%;
    height: 60%;
    
    transition: all 2s;
    
    opacity: 1;
}
#overlay.login #loginForm {
    top:0;
    opacity: 0;
}
#overlay label {
    font-size: 4em;
}
#overlay input {
    font-size: 2em;
    
    border: black 1px solid;
    border-radius: 10px;
    
    color: black;
    text-align: center;
    height: 50px;
    
    font-family: inherit;
    
    margin-top: 10px;
}

#overlay #pairList,
#overlay.login.done #pairList {
    position: absolute;
    
    left: 25%; width: 50%;
    top:-20%; height: 60%;
    
    font-family: inherit;
    
    opacity: 0;
    transition: opacity 0s, all 1s;
    
    font-size: 1.5em;
    line-height: 1.5em;
    
    text-align: center;
    
    overflow: hidden;
}

#overlay.login #pairList {
    top: 40%;
    
    opacity: 1;
}







div#sheep {
    z-index: 999;
    background-color: white;
    
    display: inline-block;
    
    position: absolute;
    top: 0;
    left: 100%;
    width: 71px;width: 100%;
    height: 100%;
    
    background-image: url(sheep.png);
    transform: rotate(-180deg);
        
}

div#sheep.go {
    transition: all 1s;
    transition-timing-function: linear;
    
    left: -100%;
}

#connOverlay {
    z-index: 998;
    position: absolute;
    top:0; left:0;
    width: 100%; height: 100%;
    background-color: transparent;
    
    transition: all 2s;
    
    pointer-events: none;
}
#connOverlay.show { background-color: rgba(0, 0, 0, 0.8); pointer-events: auto; }

#connOverlay #connDialog {
    z-index: 999;
    
    display: inline-block;
    
    text-align: center;
    vertical-align: middle;
    
    position: absolute;
    left: 50%; top: -50%;
    transform: translateX(-50%);
    
    background-color: white;
    color: black;
    
    font-size: 3em;
    
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 150px;
    
    border: black 1px solid;
    border-radius: 25px;
    
    opacity: 0;
    
    transition: all 2s, opacity 1s 1s;
}
#connOverlay.show #connDialog { top: 25px; opacity: 1; transition: all 2s, opacity 0s 0s; }

#connOverlay #connDialog b {
    color: red;
}

#connOverlay #connDialog span {
    position: absolute; bottom: 15px;
    
    padding: 5px 15px;
    
    border: 5px inset;
    border-radius: 15px;
    
    cursor: pointer;
    
    transition: all 1s;
}

#connOverlay #connDialog #accept {
    background-color: green; border-color: green;
    left: 15px;
}

#connOverlay #connDialog #refused {
    background-color: #800000; border-color: #800000;
    right: 15px;
}


#connOverlay #connDialog span:hover { color: black; }
#connOverlay #connDialog #accept:hover { background-color: #00ff00; }
#connOverlay #connDialog #refused:hover { background-color: red; }
#game {
    transform-origin: top left;
    width: 1920px;
    height: 1080px;
    
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: 0; left: 0;
}



#mainSvg {
    position: fixed;
    top: 5px; right: 5px;
    height: 48px;
    
    z-index: 995;
}